@use "../utilities/variables";
@use "../utilities/mixins";
@use "../utilities/extend";

.banda-container {
  @include mixins.flex-column;
  gap: 40px;
  margin-bottom: 4px;
  padding: 0 20px;

  .articulo-banda {
    display: flex;
    align-items: center;
    gap: 50px;

    .banda-img-container {
      margin: 16px;

      img {
        width: 600px;
        height: 400px;
        border-radius: 10px;
      }
    }
  }

  .descripcion {
    color: variables.$color-texto;

    h3 {
      margin-bottom: 8px;
      font-weight: bold;
    }
  }
}
