@use "../utilities/variables";
@use "../utilities/mixins";
@use "../utilities/extend";

.breach-buttons {
  display: flex;
  gap: 20px;
  margin: 30px;
  justify-content: center;
  flex-wrap: wrap;

  .btn-plataforma {
    @extend %hover-btn;
    width: 200px;
    text-align: center;
    text-transform: uppercase;

    &:hover {
      @include mixins.btn-scale(#1db954, #ffffff);
    }

    &:last-of-type {
      &:hover {
        @include mixins.btn-scale(#f0f0f0, #000000);
      }
    }
  }
}

.my-custom-button {
  background-color: #1db954;
  border-color: #000000;
  font-weight: bold;

  &:hover {
    background-color: beige;
    color: variables.$color-fondo;
    border: variables.$color-fondo;
  }
}

.btn-single {
  @extend %hover-btn;
  &:hover {
    background-color: variables.$color-primario;
    color: #000000;
  }
}

.btn-tickets {
  @extend %hover-btn;
  font-weight: 300;
  grid-area: tickets;
  text-align: center;
  &:hover {
    background-color: variables.$color-primario;
    color: #000000;
  }
}

.btn-contact-propio {
  background-color: #ff1d1d;
  border-color: #900000;
  &:hover {
    background-color: #c00;
    border-color: #900000;
  }
}
