@use "../utilities/variables";
@use "../utilities/mixins";
@use "../utilities/extend";

.my-custom-button {
  background-color: #1db954;
  border-color: #000000;
  font-weight: bold;

  &:hover {
    background-color: beige;
    color: variables.$color-fondo;
    border: variables.$color-fondo;
  }
}

.btn-single {
  @extend %hover-btn;
  &:hover {
    background-color: variables.$color-primario;
    color: #000000;
  }
}

.btn-tickets {
  @extend %hover-btn;
  font-weight: 300;
  grid-area: tickets;
  text-align: center;
  &:hover {
    background-color: variables.$color-primario;
    color: #000000;
  }
}

.btn-contact-propio {
  background-color: #ff1d1d;
  border-color: #900000;
  &:hover {
    background-color: #c00;
    border-color: #900000;
  }
}
