@use "../utilities/variables";
@use "../utilities/mixins";
@use "../utilities/extend";

.my-custom-button {
  background-color: #1db954;
  border-color: #000000;
  font-weight: bold;

  &:hover {
    background-color: beige;
    color: variables.$color-fondo;
    border: variables.$color-fondo;
  }
}

.btn-single {
  @extend %hover-btn;
  &:hover {
    background-color: variables.$color-primario;
    color: #000000;
  }
}
