@use "../utilities/variables";

%estilo-lista-footer {
  list-style-type: none;
  font-weight: 400;
  font-size: 30px;
}

%hover-btn {
  text-decoration: none;
  color: variables.$color-primario;
  border: 1px solid #e35042;
  padding: 10px 10px;
  font-family: variables.$btn-font;
  text-align: center;
  transition: all 0.3s ease;
}
