@mixin flex($direction, $align, $justify) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin hover-scale {
  transition: transform 0.3s ease-in-out;

  &:hover {
    transform: scale(1.1);
    cursor: pointer;
  }
}

@mixin btn-scale($fondo, $color) {
  background-color: $fondo;
  color: $color;
  transform: translateY(-5px);
}
