$color-primario: #d71b0a;
$color-secundario: #fde200;
$color-fondo: #000000;
$color-texto: whitesmoke;
$color-hover: #f5f5dc;

$main-font: "Montserrat", sans-serif;
$header-font: "BBH Sans Bogle", sans-serif;
$btn-font: "Martian Mono", monospace;
$h1-font-size: 70px;
$h2-font-size: 40px;
$p-font-size: 20px;
