/*Fuente BBH Sans Bogle*/
@import url("https://fonts.googleapis.com/css2?family=BBH+Sans+Bogle&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
/*font-family: "Montserrat", sans-serif;*/

/*Fuente Martian Mono*/
@import url("https://fonts.googleapis.com/css2?family=Martian+Mono:wght@100..800&display=swap");
/*font-family: "Martian Mono", monospace;*/
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #000000;
}

h1 {
  color: red;
  font-size: 70px;
  font-family: "BBH Sans Bogle", sans-serif;
  font-style: normal;
  font-weight: 400;
  text-align: center;
}

h2 {
  font-size: 40px;
  color: #fde200;
}

p {
  color: whitesmoke;
  font-size: 20px;
}

.nav-logo {
  width: 45px;
}

.bg-nav-propio {
  background-color: #000000;
}

.nav-link {
  color: red;
  font-size: 25px;
  font-family: "BBH Sans Bogle", sans-serif;
}

.nav-link:hover {
  color: beige;
}

/* nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: black;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  gap: 36px;
  margin: 20px;
  font-size: 35px;
} */

main {
  background-color: #000000;
}

.logo {
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

.logo-caption {
  color: #fde200;
  text-align: center;
  font-family: "BBH Sans Bogle", sans-serif;
  font-size: 35px;
  margin: 10px 0;
}

.main-content {
  background-color: black;
  margin-top: 0;
}

.main-content img {
  max-width: 100%;
  height: auto;
}

/* .li-nav {
  list-style-type: none;
}

.a-nav {
  text-decoration: none;
  color: red;
  font-family: "BBH Sans Bogle", sans-serif;
  letter-spacing: 3px;
} */

.footer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto auto;
  grid-template-areas:
    "links logo"
    "copyright copyright";
  gap: 80px;
  margin-top: 20px;
  margin-bottom: 40px;
  padding-top: 40px;
}

.footer-links-container {
  grid-area: links;
  display: flex;
  justify-content: center;
  gap: 100px;
  margin-bottom: 50px;
  line-height: 1.7;
  letter-spacing: 2px;
}

.footer-logo img {
  width: 200px;
  height: auto;
}

.footer-logo {
  grid-area: logo;
  display: flex;
  justify-content: center;
  padding-top: 5px;
}

.redes li {
  font-weight: 600;
  font-size: 20px;
  list-style-type: none;
  text-decoration: none;
}

.musica li {
  font-weight: 600;
  font-size: 20px;
  list-style-type: none;
  text-decoration: none;
}

.redes a {
  color: red;
  text-decoration: none;
}

.musica a {
  color: red;
  text-decoration: none;
}

.copyright {
  grid-area: copyright;
  color: red;
}

/* CSS BANDA */

h3 {
  color: #fde200;
}

.banda-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 4%;
}

.banda-img-container {
  margin: 16px;
}

.banda-imagen {
  width: 600px;
  height: 400px;
  border-radius: 10px;
}

.articulo-banda {
  display: flex;
}

.descripcion {
  padding: 10px;
}

.descripcion h3 {
  margin-bottom: 8px;
}

/* CSS MUSICA */

.card {
  width: 300px;
  padding: 16px;
  border: 1px solid red;
  border-radius: 5px;
  text-align: center;
  background-image: url(../assets/img/black-plain-concrete-textured-background.jpg);
  background-size: cover;
}

.card img {
  max-width: 100%;
}

.card h3 {
  margin: 16px 0;
  text-align: center;
}

.card-container {
  margin: 32px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 32px;
  flex-wrap: wrap;
}

.my-custom-button {
  background-color: #1db954;
  border-color: #000000;
  font-weight: bold;
}

.my-custom-button:hover {
  background-color: beige;
  color: #000000;
  border-color: #000000;
}

.card-button {
  padding: 5px 0;
}

/*SECCION SINGLES */

.single-container h2 {
  font-family: "BBH Sans Bogle", sans-serif;
  font-weight: 400;
  text-align: center;
  margin: 16px 0;
}

/*CSS TOUR*/

.tour-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0;
  margin: 0 10px;
  border-bottom: 2px solid red;
}

.tour-row p {
  color: red;
  font-size: 20px;
  font-family: "Martian Mono", monospace;
}

.tour-dates {
  margin: 20px;
}

@media (max-width: 450px) {
  body {
    margin: 0 16px;
  }

  main {
    padding: 10px;
  }

  .logo img {
    max-width: 80%;
  }

  .logo-caption {
    font-size: 20px;
  }

  .main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .articulo-banda {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .banda-imagen {
    max-width: 90%;
    width: 90%;
    height: auto;
  }

  .segundo-articulo {
    flex-direction: column-reverse;
  }

  .footer {
    grid-template-columns: 1fr;
    grid-template-areas:
      "links"
      "logo"
      "copyright";
    gap: 30px;
  }

  .footer img {
    width: 150px;
  }

  .footer-links-container {
    gap: 30px;
  }
}
